<!DOCTYPE html>
<html>
  <head>
    <title>ProjectWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <%= link_to "Doug's Movie Lists", lists_path, style: 'color:grey; font-size: 20px; margin-left: 20px; text-decoration: none;'   %>
        <form class="form-inline">
          <%= link_to "My lists", lists_path, class: "btn btn-outline-primary text-nowrap"  %>
          <%= link_to "New list", new_list_path, class: "btn btn-outline-primary text-nowrap"  %>
        </form>
    </nav>
    <%= yield %>
  </body>
</html>
